<!DOCTYPE html>
<html>
  <head>
    <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title><%= title %></title>
    <script src="/js/jquery.js"></script>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class="wrapper_rank">
      <div class="firstview">
        <h1><img src="../img/T6.png" alt="HOME GOLF"></h1>
        <ul class="top-rank-list">
          <% Rank1.forEach(function(scoreRank1) { %>
            <li>
              <p class="title"><%= scoreRank1.user_name %></p>
              <p class="date"><%= scoreRank1.score %>点</p>
              </a>
            </li>
          <% }); %>
        </ul>
        <p class="rank_btn"><a href="../">TOPへ戻る</a></p>
      </div>
      <div class="sub_contents">
        <h2>4~20位</h2>
        <ul class="sub_rank">
          <% Rank2.forEach(function(scoreRank2) { %>
            <li>
              <p class="title"><%= scoreRank2.user_name %></p>
              <p class="date"><%= scoreRank2.score %>点</p>
              </a>
            </li>
          <% }); %>
        </ul>
        <h2>50位</h2>
        <ul class="rank50th">
          <% Rank3.forEach(function(scoreRank3) { %>
            <li>
              <p class="title"><%= scoreRank3.user_name %></p>
              <p class="date"><%= scoreRank3.score %>点</p>
              </a>
            </li>
          <% }); %>
        </ul>
        <h2>100位</h2>
        <ul class="rank100th">
          <% Rank4.forEach(function(scoreRank4) { %>
            <li>
              <p class="board__title"><%= scoreRank4.user_name %></p>
              <p class="board__date"><%= scoreRank4.score %>点</p>
              </a>
            </li>
          <% }); %>
        </ul>
      </div>
    </div>
    <script src="/js/jquery.js"></script>
    <!-- <script src="/js/plugin/easing.js"></script>
    <script src="/js/plugin/inview.js"></script> -->
    <script src="/js/rank.js"></script>
  </body>
</html>
